<body>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Quicksand:400,700|Questrial" rel="stylesheet"
  />
  <h1 align="center">My Fav~</h1>
  
  <div align="center">
    <h2>Coldplay!</h2>
    <img src="../../assets/img/c1.jpg" width="650px" height="400px">
    <h2>Coldplay - Up In Flames</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/hx7FN1LHphk" frameborder="0" gesture="media" allowfullscreen></iframe>
  </div>

  <div align="center">
    <h2>Coldplay - Troule</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/kcASPx3-HuI" frameborder="0" allowfullscreen></iframe>
  </div>

  <div>
    <h3 align="center"> Sittiporn Kunnakorntammanop </h3>
    <h3 align="center"> 58102010829 </h3>
  </div>
</body>